<ul>
<li>id: unique id for a news article</li>
<li>title: the title of a news article</li>
<li>author: author of the news article</li>
<li>author: author of the news article</li>
<li>text: the text of the article; could be incomplete</li>
<li>label: a label that marks the article as potentially unreliable</li>

    
    
</ul>
          <ul>
          <li>"         1: unreliable"</li>
          <li>"         0: reliable"</li>
          </ul>

In [13]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import nltk

In [14]:
data = pd.read_csv("train.csv")
df = data.copy()
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [15]:
import re   # kelime üzerinde ayırma , arama ,gruplama , match yaparız
from nltk.corpus import stopwords # he, a ,the gibi önemsiz kelimeler için
from nltk.stem.porter import PorterStemmer # kelimenin kökünü verir.
from sklearn.feature_extraction.text import TfidfVectorizer

TFIDF = TF * IDF
https://miro.medium.com/max/700/1*qQgnyPLDIkUmeZKN2_ZWbQ.png

In [20]:
#stopwords
import nltk
nltk.download("stopwords")
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\doggu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Data Prepocessing

In [21]:
df.shape

(20800, 5)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [25]:
df.tail()

,id,title,author,text,label
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [27]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [28]:
df = df.fillna("")

In [29]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

text maliyetli olduğu için kullanmayacağım

In [35]:
df["content"] = df["author"] +" " + df["title"] 
print(df["content"][0:4])

0    Darrell Lucus House Dem Aide: We Didn’t Even S...
1    Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2    Consortiumnews.com Why the Truth Might Get You...
3    Jessica Purkiss 15 Civilians Killed In Single ...
Name: content, dtype: object

In [36]:
#x ve y ayrımı
X = df.drop(columns="label" , axis=1)
Y= df["label"]

In [42]:
X[0:2]

,id,title,author,text,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus House Dem Aide: We Didn’t Even S...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,"Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo..."

In [41]:
Y[0:2]

0    1
1    0
Name: label, dtype: int64

In [43]:
X.shape   # id  ,title ,author ,text ve content

(20800, 5)

In [44]:
Y.shape   # label

(20800,)

# Stemming
actor , actress , acting = act

In [46]:
port_stem = PorterStemmer()

In [51]:
def stemming(content):
    stemmed_content = re.sub("[^a-zA-z]" , " " ,content) # harfleri al
    stemmed_content = stemmed_content.lower()  # küçük hale getir
    stemmed_content = stemmed_content.split() # ayır
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words("english")]
    stemmed_content = " ".join(stemmed_content)
    return stemmed_content

In [52]:
df["content"] = df["content"].apply(stemming)  # fonksiyon uygulandı

In [53]:
print(df["content"]) #yukarı ile incele

0        darrel lucu hous dem aid even see comey letter...
1        daniel j flynn flynn hillari clinton big woman...
2                   consortiumnew com truth might get fire
3        jessica purkiss civilian kill singl us airstri...
4        howard portnoy iranian woman jail fiction unpu...
                               ...
20795    jerom hudson rapper trump poster child white s...
20796    benjamin hoffman n f l playoff schedul matchup...
20797    michael j de la merc rachel abram maci said re...
20798    alex ansari nato russia hold parallel exercis ...
20799                            david swanson keep f aliv
Name: content, Length: 20800, dtype: object

**********************************

In [ ]:
X = df["content"].values
Y = df["label"].values

In [56]:
print(X[0:2])

['darrel lucu hous dem aid even see comey letter jason chaffetz tweet'
 'daniel j flynn flynn hillari clinton big woman campu breitbart']

In [57]:
print(Y[0:2])

[1 0]

In [59]:
#makine kelimeyi anlaması için TfidfVectorizer kullanacağız.
#textual data to number

In [61]:
vectorizer = TfidfVectorizer()
X =vectorizer.fit_transform(X)

In [66]:
print(X[0:2])

  (0, 15697)	0.28485063562728646
  (0, 2485)	0.3676519686797209
  (0, 7698)	0.24785219520671603
  (0, 8636)	0.29212514087043684
  (0, 2962)	0.2468450128533713
  (0, 13480)	0.2565896679337957
  (0, 4979)	0.233316966909351
  (0, 268)	0.27010124977708766
  (0, 3795)	0.2705332480845492
  (0, 7012)	0.21874169089359144
  (0, 8915)	0.3635963806326075
  (0, 3603)	0.3598939188262559
  (1, 1895)	0.15521974226349364
  (1, 2224)	0.3827320386859759
  (1, 16812)	0.30071745655510157
  (1, 1498)	0.2939891562094648
  (1, 2816)	0.19094574062359204
  (1, 6823)	0.1904660198296849
  (1, 5510)	0.7143299355715573
  (1, 3571)	0.26373768806048464

In [67]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X ,Y , test_size=0.2 , random_state = 2)

## Logistic regression model

In [68]:
from sklearn.linear_model import LogisticRegression

In [70]:
logReg = LogisticRegression()
logReg.fit(X_train , y_train)

LogisticRegression()

In [75]:
y_pred = logReg.predict(X_test)

In [77]:
#accuracy Test data
from sklearn.metrics import accuracy_score
accuracy_score(y_pred , y_test)

0.9771634615384616

# Make Predict

In [83]:
X_new = X_test[0]
my_predict = logReg.predict(X_new)

print(my_predict ," fake")

[1]  fake

In [86]:
y_test[0] 
#correct solution

1

In [ ]:
#decision tree , GradientBoosting , randomFOREST da kullanıp bakabiliriz.